$mainColor: #6DB1BF;
$secondaryColor: #F39A9D;
$backgroundColor: #FFEAEC;
$successColor: #3F6C51;
$textColor: #ссссс;

$breakpoints: (
        "xxs": 320px,
        "xs": 375px,
        "sm": 430px,
        "md": 744px,
        "lg": 834px,
        "xl": 1024px,
        "xxl": 1280px,
        "xxxl": 1440px,
        "xxxxl": 1920px,
);